.chmln__colors-elem-wrapper {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: monospace;
    line-height: 1.6;
    white-space: nowrap;
}

.chmln__colors-elem-wrapper .chmln__colors-elem-wrapper {
    margin: 0;
}

.chmln__colors-elem-wrapper._text ._source {
    padding-right: 0;
}

.chmln__colors-elem-wrapper._last {
    margin: 0;
}

.chmln__colors-elem-wrapper._compact .chmln__colors-elem {
    padding: 0;
}

.chmln__colors-elem-wrapper._compact .chmln__colors-elem._source {
    padding-right: 10px;
}

.chmln__colors-elem {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
}

.chmln__colors-elem._source {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

._tile._gradient .chmln__colors-elem._source {
    padding-right: 20px;
}

.chmln__colors-elem._adapted {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

._tile._gradient .chmln__colors-elem._adapted {
    padding-left: 20px;
}

.chmln__colors-elem-text {
    position: relative;
    z-index: 1;
}
.chmln__colors-elem-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: url(../img/alpha-bg.png);
    border-radius: 1px;
    z-index: 0;
}
.chmln__colors-arrow {
    display: inline-block;
    padding-left: 7px;
}

._tile .chmln__colors-arrow._gradient {
    position: absolute;
    top: 0;
    right: -15px;
    width: 30px;
    height: 100%;
    padding-left: 0;
    z-index: 1;
}

/* Colorize mode */
.chmln__blur {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    filter: blur(40px);
    opacity: .5;
    overflow: hidden;
    z-index: 0;
}

.chmln__blur > div {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

._h-left._v-center > div {
    left: -30%;
}
._h-right._v-center > div {
    right: -30%;
}
._h-left._v-top > div {
    left: -30%;
    top: -30%;
}
._h-center._v-top > div {
    top: -30%;
}
._h-right._v-top > div {
    right: -30%;
    top: -30%;
}
._h-left._v-bottom > div {
    left: -30%;
    bottom: -30%;
}
._h-center._v-bottom > div {
    bottom: -30%;
}
._h-right._v-bottom > div {
    right: -30%;
    bottom: -30%;
}