.chmln__colors {
    width: 100%;
    margin-top: 25px;
}
.chmln__colors-elem-wrapper {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: monospace;
    line-height: 1.6;
    white-space: nowrap;
}
.chmln__colors-elem {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
}
.chmln__colors-elem._source {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.chmln__colors-elem._adapted {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.chmln__colors-elem-text {
    position: relative;
    z-index: 1;
}
.chmln__colors-elem-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: url(../img/alpha-bg.png);
    border-radius: 1px;
    z-index: 0;
}
.chmln__colors-arrow {
    display: inline-block;
    padding-left: 7px;
}